[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
visdom = "*"
seaborn = "*"
albumentations = "*"
pycocotools = "*"
opencv-python = "*"
tqdm = "*"
torchnet = "*"
pandas = "*"
map-boxes = "*"
jupyter = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
openmim = "*"
wandb = "*"
plotly = "*"
ipykernel = "*"
funcy = "*"
scikit-multilearn = "*"
numpy = "*"
autopep8 = "*"
mmdet = "*"
sahi = "*"
timm = "*"

[dev-packages]
gpustat = "*"
streamlit = "*"
matplotlib = "*"

[requires]
python_version = "3.8"
python_full_version = "3.8.5"
